body {
  background-color: #f0f8ff;
  font-family: sans-serif;
  padding: 5px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}

.progress {
  width: 80%;
  height: 20px;
  background-color: #5987dd;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  background: linear-gradient(90deg, #c8ffc3, #15fd00);
  width: 0%;
  color: rgb(38, 77, 252);
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  transition: width 0.3s;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border-radius: 8px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}

